game_universe/static/js/bootstrap.min.js linguist-vendored
game_universe/static/js/bootstrapp.min.js linguist-vendored
game_universe/static/js/jquery.min.js linguist-vendored
game_universe/static/js/jquery.nice-select.minn.js linguist-vendored
game_universe/static/js/jquery.slicknavv.js linguist-vendored
game_universe/static/js/jquery.zoom.min.js linguist-vendored
game_universe/static/js/jqueryy-3.3.1.min.js linguist-vendored
game_universe/static/js/mixitup.minn.js linguist-vendored
game_universe/static/js/nouislider.min.js linguist-vendored
game_universe/static/js/owl.carousel.minn.js linguist-vendored
game_universe/static/js/slick.min.js linguist-vendored

game_universe/static/css/bootstrap.min.css linguist-vendored
game_universe/static/css/bootstrapo.min.css linguist-vendored
game_universe/static/css/elegant-iconss.css linguist-vendored
game_universe/static/css/font-awesome.min.css linguist-vendored
game_universe/static/css/font-awesome.minn.css linguist-vendored
game_universe/static/css/nice-selectt.css linguist-vendored
game_universe/static/css/nouislider.min.css linguist-vendored
game_universe/static/css/owl.carousell.min.css linguist-vendored
game_universe/static/css/slick-theme.css linguist-vendored
game_universe/static/css/slick.css linguist-vendored
game_universe/static/css/slicknavv.min.css linguist-vendored

game_universe/static/js/mainn.js linguist-vendored
game_universe/static/js/playerr.js linguist-vendored
